@using Abp.Configuration
@using Monivault.Authorization
@using Monivault.Configuration
@using Monivault.Web.Startup
@model Monivault.Web.Models.AccountHolderHome.AccountHolderDashboardViewModel
@{
    ViewBag.CurrentPageName = PageNames.AccountHolderDashboard;
}
@section scripts{
	<script src="~/view-resources/Views/AccountHolderHome/Index.js"></script>
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">

	<!-- BEGIN: Subheader -->
	<div class="m-subheader ">
		<div class="d-flex align-items-center">
			<div class="mr-auto">
				<h3 class="m-subheader__title m-subheader__title--separator">Dashboard</h3>
				<ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
					<li class="m-nav__item m-nav__item--home">
						<a href="#" class="m-nav__link m-nav__link--icon">
							<i class="m-nav__link-icon la la-home"></i>
						</a>
					</li>
					<li class="m-nav__separator">-</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">Dashboard</span>
						</a>
					</li>
					<li class="m-nav__separator">-</li>
					<li class="m-nav__item">
						<a href="" class="m-nav__link">
							<span class="m-nav__link-text">Account Summary</span>
						</a>
					</li>
				</ul>
			</div>
			@if (IsGranted(PermissionNames.TopUpSaving) && !SettingManager.GetSettingValue<bool>(AppSettingNames.StopTopUpSaving))
			{
				<div>
					<a asp-controller="TopUpSaving" asp-action="Index" class="btn btn-primary m-btn m-btn--icon m-btn--pill m-btn--air">
						<span>
							<i class="la la-archive"></i>
							<span>Top up savings</span>
						</span>
					</a>
				</div>	
			}
		</div>
	</div>

	<!-- END: Subheader -->
	<div class="m-content">

		<!--Begin::Section-->
		<div class="m-portlet">
			<div class="m-portlet__body  m-portlet__body--no-padding">
				<div class="row m-row--no-padding m-row--col-separator-xl">
					<div class="col-xl-4">

						<!--begin:: Widgets/Stats2-1 -->
						<div class="m-widget1">
							<div class="m-widget1__item">
								<div class="row m-row--no-padding align-items-center">
									<div class="col">
										<h3 class="m-widget1__title">Curent Balance</h3>
										<span class="m-widget1__desc">Available Balance</span>
									</div>
									<div class="col m--align-right">
										<span id="availableBalance" class="m-widget1__number m--font-brand"></span>
									</div>
								</div>
							</div>
							<div class="m-widget1__item">
								<div class="row m-row--no-padding align-items-center">
									<div class="col">
										<h3 class="m-widget1__title">Interest Received</h3>
										<span class="m-widget1__desc">Year 2019</span>
									</div>
									<div class="col m--align-right">
										<span id="interestReceived" class="m-widget1__number m--font-success"></span>
									</div>
								</div>
							</div>
							@*<div class="m-widget1__item">
								<div class="row m-row--no-padding align-items-center">
									<div class="col">
										<h2 class="m-widget1__title" style="font-size: 0.95rem">Total Amount Withdrawn</h2>
										<span class="m-widget1__desc">Year 2019</span>
									</div>
									<div class="col m--align-right">
										<span id="amountWithdrawn" class="m-widget1__number m--font-danger"></span>
									</div>
								</div>
							</div>*@
						</div>

						<!--end:: Widgets/Stats2-1 -->
					</div>
					<div class="col-xl-4">

						<!--begin:: Widgets/Stats2-1 -->
						<div class="m-widget1">
							<div class="m-widget1__item">
								<div class="row m-row--no-padding align-items-center">
									<div class="col">
										<h3 class="m-widget1__title"></h3>
										<span class="m-widget1__desc"></span>
									</div>
									<div class="col m--align-right">
										<span class="m-widget1__number m--font-brand"></span>
									</div>
								</div>
							</div>
							<div class="m-widget1__item">
								<div class="row m-row--no-padding align-items-center">
									<div class="col">
										<h3 class="m-widget1__title"></h3>
										<span class="m-widget1__desc"></span>
									</div>
									<div class="col m--align-right">
										<span class="m-widget1__number m--font-success"></span>
									</div>
								</div>
							</div>
							<div class="m-widget1__item">
								<div class="row m-row--no-padding align-items-center">
									<div class="col">
										<h3 class="m-widget1__title"></h3>
										<span class="m-widget1__desc"></span>
									</div>
									<div class="col m--align-right">
										<span class="m-widget1__number m--font-danger"></span>
									</div>
								</div>
							</div>
						</div>

						<!--end:: Widgets/Stats2-1 -->
					</div>
					<div class="col-xl-4">

						<!--begin:: Widgets/Stats2-1 -->
						<div class="m-widget1">
							<div class="m-widget1__item">
								<div class="row m-row--no-padding align-items-center">
									<div class="col">
										<h3 class="m-widget1__title"></h3>
										<span class="m-widget1__desc"></span>
									</div>
									<div class="col m--align-right">
										<span class="m-widget1__number m--font-brand"></span>
									</div>
								</div>
							</div>
							<div class="m-widget1__item">
								<div class="row m-row--no-padding align-items-center">
									<div class="col">
										<h3 class="m-widget1__title"></h3>
										<span class="m-widget1__desc"></span>
									</div>
									<div class="col m--align-right">
										<span class="m-widget1__number m--font-success"></span>
									</div>
								</div>
							</div>
							<div class="m-widget1__item">
								<div class="row m-row--no-padding align-items-center">
									<div class="col">
										<h3 class="m-widget1__title"></h3>
										<span class="m-widget1__desc"></span>
									</div>
									<div class="col m--align-right">
										<span class="m-widget1__number m--font-danger"></span>
									</div>
								</div>
							</div>
						</div>

						<!--end:: Widgets/Stats2-1 -->
					</div>
				</div>
			</div>
		</div>

		<!--End::Section-->
		<!-- Start::Transaction Section -->
		<div class="m-portlet m-portlet--primary m-portlet--head-solid-bg m-portlet--head-sm" m-portlet="true">
			<div class="m-portlet__head">
				<div class="m-portlet__head-caption">
					<div class="m-portlet__head-title">
						<span class="m-portlet__head-icon">
							<i class="flaticon-list-2"></i>
						</span>
						<h3 class="m-portlet__head-text">
							Recent Transactions <!--<small>click on the right icon to expand</small>-->
						</h3>
					</div>
				</div>
				<div class="m-portlet__head-tools">
					<ul class="m-portlet__nav">
						<li class="m-portlet__nav-item">
							<a asp-action="DownloadRecentTransactions" class="m-portlet__nav-link m-portlet__nav-link--icon"><i class="la la-cloud-download"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="m-portlet__body">
				<div class="m-scrollable" data-scrollbar-shown="true" data-scrollable="true" data-height="300" style="overflow: hidden; height: 300px;">
					<table id="RecentTransactionsTable" class="m_datatable" width="100%">
						
					</table>
				</div>
			</div>
		</div>
		<!-- End::Transaction Section -->
	</div>
</div>