@{
	Layout = "_OutsideLayout";
}

@section scripts
{
    <script src="~/view-resources/Views/Login/Index.js" asp-append-version="true"></script>
}
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-grid--tablet-and-mobile m-grid--hor-tablet-and-mobile m-login m-login--1 m-login--signin" id="m_login">
	<div class="m-grid__item m-grid__item--order-tablet-and-mobile-2 m-login__aside">
	<div class="m-stack m-stack--hor m-stack--desktop">
		<div class="m-stack__item m-stack__item--fluid">
			<div class="m-login__wrapper">
				<div class="m-login__logo">
					<a href="#">
						<img src="~/images/logo-big.png">
					</a>
				</div>
				<div class="m-login__signin">
					<div class="m-login__head">
						<h3 class="m-login__title">Sign in to Monivault</h3>
					</div>
					<form class="m-login__form m-form" asp-action="Authenticate">
						<div class="form-group m-form__group">
							<input class="form-control m-input" type="text" placeholder="UserName" name="UserName" autocomplete="off">
						</div>
						<div class="form-group m-form__group">
							<input class="form-control m-input m-login__form-input--last" type="password" placeholder="Password" name="Password">
						</div>
						<div class="row m-login__form-sub">
							<div class="col m--align-left">
								@*<label class="m-checkbox m-checkbox--focus">
									<input type="checkbox" name="remember"> Remember me
									<span></span>
								</label>*@
							</div>
							<div class="col m--align-right">
								<a asp-controller="ForgotPassword" asp-action="Index" id="m_login_forget_password" class="m-link">Forget Password ?</a>
							</div>
						</div>
						<div class="m-login__form-action">
							<button id="m_login_signin_submit" type="button" class="btn btn-focus m-btn m-btn--pill m-btn--custom m-btn--air">Sign In</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="m-stack__item m-stack__item--center">
			<div class="m-login__account">
				<span class="m-login__account-msg">
					Don't have an account yet ?
				</span>&nbsp;&nbsp;
				<a asp-controller="SignUp" asp-action="Index" id="m_login_signup" class="m-link m-link--focus m-login__account-link">Sign Up</a>
			</div>
		</div>
	</div>
</div>
<div class="m-grid__item m-grid__item--fluid m-grid m-grid--center m-grid--hor m-grid__item--order-tablet-and-mobile-1	m-login__content m-grid-item--center" style="background-image: url(/images/bg-4.jpg)">
	<div class="m-grid__item">
		<h3 class="m-login__welcome">Join Our Community</h3>
		<p class="m-login__msg">
			Save | Grow your wealth | Pay Utilities
		</p>
	</div>
</div>	
</div>