/src/Monivault.Web.Mvc/bin/*
/src/Monivault.Web.Mvc/obj/*
/src/Monivault.Web.Host/bin/*
/src/Monivault.Web.Host/obj/*
/src/Monivault.Web.Core/bin/*
/src/Monivault.Web.Core/obj/*
/src/Monivault.Migrator/bin/*
/src/Monivault.Migrator/obj/*
/src/Monivault.EntityFrameworkCore/bin/*
/src/Monivault.EntityFrameworkCore/obj/*
/src/Monivault.Application/bin/*
/src/Monivault.Application/obj/*
/src/Monivault.Core/bin/*
/src/Monivault.Core/obj/*
/test/Monivault.Test/bin/*
/test/Monivault.Test/obj/*
*.dll
/.vs/*
/src/Monivault.Web.Mvc/App_Data/Logs.txt
/src/Monivault.Web.Host/App_Data/Logs.txt
