@model Monivault.Web.Models.Roles.PermissionListViewModel

<ul class="nav nav-tabs  m-tabs-line m-tabs-line--success" role="tablist">
    <li class="nav-item m-tabs__item">
        <a class="nav-link m-tabs__link active" data-toggle="tab" href="#RoleTab" role="tab"><i class="la la-cloud-upload"></i>Role Information</a>
    </li>
    <li class="nav-item m-tabs__item">
        <a class="nav-link m-tabs__link" data-toggle="tab" href="#PermissionTab" role="tab"><i class="la la-puzzle-piece"></i>Permissions</a>
    </li>
</ul>
<form id="RoleForm" asp-conttoller="Roles" asp-action="CreateRole">
    <div class="tab-content">
        <div class="tab-pane active" id="RoleTab" role="tabpanel">
            <div class="form-group m-form__group row">
                <label for="RoleName" class="col-3 col-form-label">Role Name</label>
                <div class="col-9">
                    <input id="RoleName" name="RoleName" maxlength="32" class="form-control m-input"/>
                </div>
            </div>
            <div class="form-group m-form__group row">
                <label for="RoleDescription" class="col-3 col-form-label">Role Description</label>
                <div class="col-9">
                    <textarea id="Description" name="Description" class="form-control m-input" rows="3"></textarea>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="PermissionTab" role="tabpanel">
            @for (var cnt = 0; cnt < Model.Permissions.Count; cnt++)
            {
                var permission = Model.Permissions[cnt];
                <div class="row">
                    <div class="col-sm-6">
                        <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="permission-@permission.Name"/>
                        <label for="permission-@permission.Name">@permission.DisplayName</label>
                    </div>
                    
                    @if ((Model.Permissions.Count - cnt) != 1 )
                    {
                        permission = Model.Permissions[++cnt];

                        <div class="col-sm-6">
                            <input type="checkbox" name="permission" value="@permission.Name" class="filled-in" id="permission-@permission.Name"/>
                            <label for="permission-@permission.Name">@permission.DisplayName</label>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</form>

@*<script src="~/view-resources/Views/Roles/_CreateOrEditModal.js"></script>*@